# A simple configuration file for monitoring the local host
# This can serve as an example for configuring other servers;
# Custom services specific to this host are added here, but services
# defined in nagios2-common_services.cfg may also apply.
#

define host{
        use                     generic-host            ; Name of host template to use
        host_name               dns-2.apopx.net
        alias                   dns-2
        address                 192.168.0.17
        }

# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Disk Space
        check_command                   check_nrpe_1arg!check_disk!20%!10%
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Current Users
        check_command                   check_nrpe_1arg!check_users!20!50
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 processes.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Total Processes
                check_command                   check_nrpe_1arg!check_procs!250!400
        }



# Define a service to check the load on the local machine.

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Current Load
                check_command                   check_nrpe_1arg!check_load!5.0!4.0!3.0!10.0!6.0!4.0
        }
define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Puppet Last Run
                check_command                   check_nrpe_1arg!check_puppet_agent!3600!7200
        }

define service{
        use                             generic-service         ; Name of service template to use
        host_name                       dns-2.apopx.net
        service_description             Check NTP Time
                check_command                   check_nrpe_1arg!check_ntp_time!0.5!1
        }

